.menu{
	height: 6%;
	border-bottom: 1px solid #044462;
}

#fundo{
	width: 100%;
	height: 240px;
}

#logo{
	height: 90px;
	width: 98px;
	margin-left: 40%;
	margin-top: 1%;
	margin-bottom: 1%;	
}

#nome{
	width: 9%;
	float: right;
	margin-right: 44%;
	margin-top: 1%;
	font-family: Copperplate;
}

.titulo{
	margin-left: 26%; 
	margin-top: 0.5%;
	margin-bottom: 4%;
	font-size: 45px;
	font-family: verdana;
}

.inputs{
	width: 40% !important;
	margin-bottom: 3%;
	margin-left: 25%;
	font-family: verdana;
}

.labels{
	margin-left: 25%;
	font-family: verdana;
}

.divider{
	clear: both;
}

.coluna{
	width: 1%;
	margin-top: 6%;
	height: 440px;
	border: 2px solid #044462;
	float: left;
	margin-left: 6%;
	background-color: #044462;
}

.formulario{
	width: 46%;
	margin-top: 6%;
	height: 100%;
	float: left;
}

.botao{
	width: 40%;
	margin-top: 6%;
	height: 55px;
	border-radius: 6px;
	float: left;
	margin-left: 25%;
	font-family: verdana;
	color: white;
	background-color: #044462;
	cursor: pointer;
}

.informacao{
	width: 45%;
	height: 60%;
	margin-top: 6%;
	float: left;
	font-family: verdana;
}

.texto{
	margin-top: 1%;
	float: left;
	margin-left: 6%;
	margin-right: 16%;
	font-family: verdana;
	text-align: justify;
}

.resultado{
	margin-top: 1%;
	width: 30%;
	height: 60%;
	margin-top: 5%;
	float: left;
	font-family: verdana;
	border: 1px solid #848484;
	margin-left: 6%;
}

footer{
	background-color: #F2F2F2;
	border-top: 1px solid #848484;
	height: 90px;
	margin-top: 9%;
}

.creditos{

	border-top: 5%;
	margin-top: 1%;
	text-align: center;
	font-family: courier;
	font-size: 13px;
}