.titulo{
	margin-left: 40%; 
	margin-top: 5%;
	margin-bottom: 4%;
}

.inputs{
	width: 15% !important;
	margin-bottom: 2%;
	margin-left: 40%;
}

.labels{
	margin-left: 40%;
}

.divider{
	clear: both;
}