.menu{
	height: 6%;
	background-color: #FAFAFA;
	border-bottom: 1px solid #E6E6E6;
}

#logo{
	height: 90px;
	width: 98px;
	margin-left: 41%;
	margin-top: 1%;
	margin-bottom: 1%;	
}

#nome{
	float: right;
	margin-right: 48%;
	margin-top: 2%;
	font-family: verdana;
}

.titulo{
	margin-left: 38%; 
	margin-top: 1%;
	margin-bottom: 4%;
	font-size: 45px;
	font-family: verdana;
}

.inputs{
	width: 30% !important;
	margin-bottom: 2%;
	margin-left: 40%;
	font-family: verdana;
}

.labels{
	margin-left: 40%;
	font-family: verdana;
}

.divider{
	clear: both;
}

.coluna{
	width: 1%;
	margin-top: 5%;
	height: 350px;
	border: 2px solid #FAFAFA;
	float: left;
	margin-left: 6%;
	background-color: #848484;
}

.formulario{
	width: 46%;
	margin-top: 5%;
	height: 100%;
	float: left;
}

.resultado{
	width: 45%;
	height: 60%;
	margin-top: 5%;
	float: left;
	font-family: verdana;
}

.texto{
	float: left;
	margin-left: 20%;
	margin-right: 10%;
	font-family: verdana;
}

footer{
	background-color: #F2F2F2;
	border-top: 1px solid #848484;
	height: 90px;
	margin-top: 13%;
}

.creditos{
	border-top: 5%;
	text-align: center;
	font-family: verdana;
}